# Ignore vscode hidden folder
.vscode/
./.vscode/
./vscode/


# Ignore WebStorm hidden folder
.idea/
./.idea/
./idea/

# Ignore node_modules folder
node_modules

# Ignore package JSON files
package-lock.json
package.json
